.App {
  text-align: center;
  background-color: #282c34;
  color: #f9f9f9;
  margin: 0;;
}

/* h1 {
  color: rgba(253, 212, 2, 0.5);

} */
h1 {
  font-size: 42px;
  background: -webkit-linear-gradient(right, #f0c27b, #861480);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
html {
  background-color: #282c34;
}
body {
  height: 100vh;
  -webkit-app-region:drag;
}

button {
  outline: none;
  padding: 1em 2em;
  background-color: #282c34;
  margin: 0 1em;
  border-radius: 17px;
  color: whitesmoke;
  cursor: pointer;
  -webkit-app-region: no-drag;
  transition: all 0.2s ease;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}
button:hover {
  transform:  scale(0.96) translateY(1px)
;}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.light-image {
  width: 160px;
}
div {
  color: #fefefec5;
}

.main-container {
  display: grid;
  grid-template-columns: 23% auto;
  margin:0px;
}
.menu-container {
  background-color: #282c34;
  border-right: 2px solid;
  border-color: rgba(0, 0, 0, 0.226);
  background-color: #1c1e24;
  margin: 0;
  height: 100%;
  min-height: 100vh;
  min-width: fit-content;
}
.menu-item {
  margin: 0;
  padding: .5em .2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  transition: background-color .1s ease-out;
  border-left: #1c1e24 solid 3px;
}
.active-item {
  border-width: 3px;
  border-left: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #9E3F73, 
      #C67B75
    ) 1 100%;
    background-color: #23272e;
}

svg {
  margin: 0 1em;
}
.menu-item:hover{
  background-color: #23272e;
  border-left: #23272e solid 3px;
}

.light-info-container {
  padding-top: 3em;
}
.tweaker {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3em;
  margin-bottom: 0;
}

.rc-slider {
  width: 200px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  -webkit-app-region: no-drag;
}


.menu-header {
  font-size: large;
  background: -webkit-linear-gradient(left, #f0c27b, #b57ab2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 1em;
}

#root {
  margin-bottom: 0 !important;
}

.huebridge-gif {
  width: 370px;
}

.button-fancy {
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #f0c27b, #b57ab2);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #282c34 inset;
  margin-top: 1em;
  transform:  perspective(1000px) translateZ(0px);
  transition: all 0.4s ease-in-out;
}

.button-fancy:hover {
    box-shadow: none;
    color: black;
    transform:  perspective(1000px) translateZ(90px) scale(1.0) translateY(0px);
}

.absolute-center {
  position: absolute;
  top: 40%;
  left:50%;
  transform: translate(-50%, -50%);
}
